server:
  port: 8001
multiple:
  environment:
    configure: dev
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/goodsSystem?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&autoReconnect=true&allowMultiQueries=true&useSSL=true&serverTimezone=GMT%2B8
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      filters: stat,wall
      stat-view-servlet:
           enabled: true
           login-username: hwxadmin
           login-password: hwx001125
  rabbitmq:
    host: 124.220.168.113
    port: 5672
    username: admin
    password: [<Hwx20011125>]
  redis:
    host: 121.5.199.228
    port: 6379
    database: 0  #使用那个数据库 (一共16个)
    connect-timeout: 180000  #连接超过时间


#店铺头像存放地址
shop:
  imgNameUrl:  "E:/IDEA_Project/com.hwx.goodsSystem/Data/img/shopImg/"

#商品头像存放地址
goods:
  imgNameUrl:  "E:/IDEA_Project/com.hwx.goodsSystem/Data/img/goodsImg/"