<!--   中间的主要框 -->
.grid_c1 {
    width: 990px;
}
.grid_c2 {
    width: 1000px;
}
.fs_inner {
    z-index: 1;
    height: 480px;
    background-color: #ffffff;
}
.fs_inner {
    position: relative;
}
.grid_c1 {
    margin: 0 auto;
    width: 990px;
}

/*  *******************************************************  */

.feed-tab-wrapper {
    background: #fff;
}
.feed-tab-wrapper {
    background: #fff;
    margin-bottom: 10px;
}
.grid_c1 {
    margin: 0 auto;
    margin-bottom: 0px;
    width: 990px;
}
/*  ul标题  */
.feed-tab__item-title {
    color: #333;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    height: 27px;
}

.feed-tab {
    margin: 0 auto;
    height: 60px;
    width: 1080px;
}


.more2_item {
    width: 190px;
    height: 266px;
    margin: 0 5px 8px;
}
/* 每个li并排  */
.more2_item {
    background: #e7e7ea;
    position: relative;
    float: left;
}

li {
    list-style: none;
}



.o2_mini .feed-tab__item {
    width: 150px;
}
.feed-tab__item {
    position: relative;
    float: left;
    width: 180px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}
li {
    list-style:none; /* 将默认的列表符号去掉 */
    padding:0; /* 将默认的内边距去掉 */
    margin:0; /* 将默认的外边距去掉 */
}
* {
    margin: 0;
    padding: 0;
}
/*  商品大框*/
.clearfix::after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
/*蓝色间隔 */
.tap_gap{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    margin: 10px 0;
    width: 1px;
    background: #dfdfdf;
    background: -webkit-gradient(linear,left top,left bottom,from(white),color-stop(51%, #549bcb),to(white));
    background: linear-gradient(180deg,white, #549bcb 51%,white);
}

.setting_shopCreate{
    width: 300px;
}