<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
  <link href="/img/favicon.ico" rel="icon">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js" ></script>
  <link href="/css/goodsIndex.css" rel="stylesheet">
<!--  ajax封装-->

  <style>
   #goodsSystemEnterCss{
     background: #a8c7ea;
     width: 450px;
     margin: 200px auto;   //设置页面侧边
     border: 10px #549bcb;
     padding: 10px;
     box-shadow: 0 0 20px;
    }
  </style>
  <script>
    function  goodsEnterOne(){
      let qname=document.getElementById("name").value;
        $.ajax({
            url: "/login/Proven",
            type: "get",
            data: {
              name: qname
            },
            success: function (data){
                if(data!=""){

                   let  div=document.getElementById("Tshi");
                   div.innerHTML="";
                   div.innerHTML+="<span  className='help-block' id='helpBlock2' "+
        " th:text='${Tshi}'>账号未注册,去注册账号</span>"

                }else {
                  let  div=document.getElementById("Tshi");
                  div.innerText+="";
                }
            }
        })
    }
  </script>
</head>
<body>
<div  id="goodsSystemEnterCss">
  <form action="/login/enter" method="post">
    <div class="form-group" id="enter">
      <label for="name">账号</label>
      <input class="form-control" id="name" name="name" onblur="goodsEnterOne()" placeholder="请输入账号" type="text">
    </div>
    <div id="Tshi"  th:if="${Tshi!=''}">
      <span class="help-block" id="helpBlock2" th:href="@{/enroll}" th:if="${Tshi!=''}" th:text="${Tshi}" ></span>
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input class="form-control" id="password" name="password" placeholder="输入密码" type="password">
    </div>
    <button class="btn btn-default" type="submit">登录</button>
  </form>
</div>

</body>
</html>