<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js" ></script>
    <link href="css/goodsIndex.css" rel="stylesheet">
    <!--  ajax封装-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/jquery.cxselect.js"></script>
    <script type="text/javascript">
        $.cxSelect.defaults.url = 'js/cityData.min.json';
        $.cxSelect.defaults.emptyStyle = 'none';
        $('#districtInfo').cxSelect({
            url: 'js/cityData.min.json',               // 如果服务器不支持 .json 类型文件，请将文件改为 .js 文件
            selects: ['province', 'city', 'area'],  // 数组，请注意顺序
            emptyStyle: 'none'
        });

        function shopQuery(){
            let userName=[[${userLogin.id}]];
            if(userName!="") {
                $.ajax({
                    url: "/shop/esse",
                    type: "post",
                    data: {
                        userId: userName
                    },
                    success: function (data){
                          let div=document.getElementById("tab2");
                          if(data!=""){

                          }else {
                              div.innerHTML="";
                              div.innerHTML+="<div class=\"jumbotron\">\n" +
                                  "  <h3>不好意思，你还没有自己的店铺!</h3>\n" +
                                  "  <p>拥有了店铺可以在其中售卖商品,获取利润......</p>\n" +
                                  "  <p><a class=\"btn btn-primary btn-lg\" onclick='shop()' role=\"button\">去创建我的店铺</a></p>\n" +
                                  "</div>";
                          }
                    }
                })
            }
        }
        function shop(){
            let div=document.getElementById("tab2");
            div.innerHTML="";
            div.innerHTML+="<form action=\"/shop/create\" enctype=\"multipart/form-data\" method=\"post\">\n" +
                "    <div class=\"form-group\">\n" +
                "        <label for=\"shopName\">店铺名称</label>\n" +
                "        <input class=\"form-control\" id=\"shopName\" name=\"shopName\"  type=\"text\" >\n" +
                "    </div>\n" +
                "    <div class=\"form-group\">\n" +
                "        <label for=\"shop_Class\">选择店铺类型</label>\n" +
                "        <div class=\"col-sm-8 input-group\" id=\"shop_Class\">\n" +
                "            <select class=\"province form-control\" id=\"one_class\" name=\"province\" style=\"width:90px\">\n" +
                "                <option>请选择类型</option>\n" +
                "                <option name=\"1\">休闲食品</option>\n" +
                "                <option name=\"2\">数码</option>\n" +
                "                <option name=\"3\">服装</option>\n" +
                "                <option name=\"4\">生活电器</option>\n" +
                "                <option name=\"5\">体育用品</option>\n" +
                "                <option name=\"6\">办公用品</option>\n" +
                "                <option name=\"7\">其他</option>\n" +
                "            </select>\n" +
                "        </div>\n" +
                "    </div>\n" +
                "    <div class=\"form-group\">\n" +
                "        <label for=\"exampleInputFile\">选择店铺形象</label>\n" +
                "        <input id=\"exampleInputFile\" name=\"shopImg\" type=\"file\">\n" +
                "        <p class=\"help-block\">请选择小于5MB的jpg,或者png格式的图片</p>\n" +
                "    </div>\n" +
                "    <div class=\"alert alert-danger\" role=\"alert\"><a th:text=\"${Tshi}\"></a></div>\n" +
                "    <button class=\"btn btn-default\" type=\"submit\">提交</button>\n" +
                "</form>";
        }
    </script>
</head>
<body>
<div  th:fragment="public_top">
    <nav class="navbar navbar-default" id="parent">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    Goods
                </a>
                <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a th:href="@{/goods/showGoods}">我的订单</a></li>
                    <li><a th:href="@{/goods/wishGoods}">购物车</a></li>
                    <li th:if="${role}=='shopAdmin'  and ${role}!='user'"><a th:href="@{/shop}">我的店铺</a></li>
                    <li th:if="${role}=='goodsAdmin' and ${role}!='user'"><a th:href="@{/shop}">店铺管理</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control" type="text" >
                    </div>
                    <button class="btn btn-default" type="submit">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${userLogin}==null"><a th:href="@{/login}">登录</a></li>
                    <li th:if="${userLogin}==null"><a th:href="@{/enroll}">注册</a></li>
                    <li th:if="${userLogin}!=null"><a th:href="@{/crony}">我的好友<span class="badge">[[${sum_message}]]</span></a></li>
                    <li class="dropdown active" th:if="${userLogin}!=null">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" onclick="xia()" role="button">[[${userLogin.userName}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/user/{id}(id=${userLogin.id})}">个人资料</a></li>
                            <li><a href="#">我的钱包</a></li>
                            <li><a href="#">我的信息</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a th:href="@{/setting}">设置</a></li>
                            <!--                            <li><a th:href="@{/shop/create/{id}(id=${userLogin.id})}">设置</a></li>-->
                            <li class="divider" role="separator"></li>
                            <li><a th:href="@{/login/loginOut}">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div style="height: 100px;">
    <div class="col-xs-2">
        <ul class="nav nav-tab vertical-tab" id="vtab" role="tablist">
            <li class="active" role="presentation">
                <a aria-controls="home" data-toggle="tab" href="#tab1"
                   role="tab">个人资料</a>
            </li>
            <li role="presentation">
                <a aria-controls="inbox" data-toggle="tab" href="#tab2" onclick="shopQuery()"
                   role="tab">我的店铺</a>
            </li>
            <li role="presentation">
                <a aria-controls="outbox" data-toggle="tab" href="#tab3"
                   role="tab">账号安全</a>
            </li>
            <li role="presentation">
                <a aria-controls="inbox1" data-toggle="tab" href="#tab4"
                   role="tab">地址管理</a>
            </li>
            <li role="presentation">
                <a aria-controls="outbox1" data-toggle="tab" href="#tab5"
                   role="tab">我的客服</a>
            </li>
        </ul>
    </div>
    <div class="tab-content vertical-tab-content col-xs-10">
        <div class="tab-pane active" id="tab1" role="tabpanel">个人资料</div>
        <div class="tab-pane" id="tab2" role="tabpanel">
            <h3><a th:href="@{/shop}">我的店铺→</a></h3>
        </div>
        <div class="tab-pane" id="tab3" role="tabpanel">账号安全</div>
        <div class="tab-pane" id="tab4" role="tabpanel">地址管理</div>
        <div class="tab-pane" id="tab5" role="tabpanel">我的客服</div>
    </div>
</div>

</body>
</html>