<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--    自己的css样式-->
    <link href="css/goodsIndex.css" rel="stylesheet">
</head>
<body>
<div style="height: 100px;">
    <div class="col-xs-2">
        <ul class="nav nav-tab vertical-tab" id="vtab" role="tablist">
            <li class="active" role="presentation">
                <a aria-controls="home" data-toggle="tab" href="#tab1"
                   role="tab">本地</a>
            </li>
            <li role="presentation">
                <a aria-controls="inbox" data-toggle="tab" href="#tab2"
                   role="tab">系统</a>
            </li>
            <li role="presentation">
                <a aria-controls="outbox" data-toggle="tab" href="#tab3"
                   role="tab">网络</a>
            </li>
            <li role="presentation">
                <a aria-controls="inbox1" data-toggle="tab" href="#tab4"
                   role="tab">视音频</a>
            </li>
            <li role="presentation">
                <a aria-controls="outbox1" data-toggle="tab" href="#tab5"
                   role="tab">图像</a>
            </li>
            <li role="presentation">
                <a aria-controls="outbox1" data-toggle="tab" href="#tab6"
                   role="tab">事件</a>
            </li>
            <li role="presentation">
                <a aria-controls="outbox1" data-toggle="tab" href="#tab7"
                   role="tab">存储</a>
            </li>
        </ul>
    </div>
    <div class="tab-content vertical-tab-content col-xs-10">
        <div class="tab-pane active" id="tab1" role="tabpanel">这是.本地..</div>
        <div class="tab-pane" id="tab2" role="tabpanel">这是.系统..</div>
        <div class="tab-pane" id="tab3" role="tabpanel">这是..网络.</div>
        <div class="tab-pane" id="tab4" role="tabpanel">这是.视音频..</div>
        <div class="tab-pane" id="tab5" role="tabpanel">这是..图像.</div>
        <div class="tab-pane" id="tab6" role="tabpanel">这是..事件.</div>
        <div class="tab-pane" id="tab7" role="tabpanel">这是..存储.</div>
    </div>
</div>

</body>
</html>