<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwx.goodsSystem.Dao.powerDao">

    <resultMap id="power" type="com.hwx.goodsSystem.entity.power">
        <id column="id" property="id" />
        <result column="url" property="url"/>
        <result column="create_Time" property="createTime" />
        <result column="update_Time" property="updateTime" />
    </resultMap>

    <insert id="createPower" parameterType="com.hwx.goodsSystem.entity.power" useGeneratedKeys="true" keyProperty="id">
        insert into goodsSystem.power(url, create_Time, update_Time) VALUES (#{url},#{createTime},#{updateTime});
    </insert>


    <delete id="deletePower" parameterType="integer" >
        delete from goodsSystem.power where id=#{id};
    </delete>

    <update id="updatePower" parameterType="com.hwx.goodsSystem.entity.power" keyProperty="id">
        update goodsSystem.power set url=#{url}  and update_Time=#{updateTime} where
        id=#{id}
    </update>

    <select id="getPowerById" resultMap="power" parameterType="integer" >
        select  id, url, create_Time, update_Time from goodsSystem.power where id=#{id};
    </select>
</mapper>
